html {
	height: 100%;
}

body {
	display: flex;
	min-height: 100vh;
	/* height: 100%; */
		/* "height: 100%" was causing the top part of the content to become hidden in a too-small window. */
	
	flex-direction: column; 
		/* the default "flex-direction:row" was causing the left part of the content to become hidden in a too-small window. */
	
	justify-content: center;
	align-items: center;
}

 .wrapper {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	width: 1280px;
	min-width: 1280px;
	margin: 0 auto;
}

/* HEADER */

.header {
	margin-bottom: 40px;
}

.header-logo-link {
	font-size: 80px;
	line-height: 94px;
	text-decoration: none;
	color: #000;
}

.blue-text {
	color: hsla(198, 100%, 65%, 1)
}

/* NAV */

.nav {
	background-color: #35444F;
	margin-bottom: 50px;
}

.nav ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
}

.nav li {
	border-left: 1px solid #fff;
}

.nav li:last-child {
	border-right: 1px solid #fff;
}

.header-nav-link {
	display: block;
	padding: 20px 40px;
	color: #fff;
	font-size: 24px;
	line-height: 28px;
	text-decoration: none;
}

.header-nav-link:hover {
	background-color: #222F3A;
}

/* ASIDE */

.aside ul {
	list-style-type: none;
	width: 344px;
	border: 1px solid #000;
}

.aside-nav-link {
	display: block;
	padding: 26px 42px;
	color: #495863;
	font-size: 27px;
	line-height: 27px;
	text-decoration: none;
	transition: padding-left 0.2s ease-in-out;
}
.aside-nav-link:hover {
	background-color: #dbdbdb;
	padding-left: 72px;
}

/* MAIN */

.image-container {
	background: rgba(0, 0, 0, 0.0001);
	border: 1px solid #000;
	width: 100%;
	height: 529px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 34px;
}

.image-container img {
	width: 320px;
	height: 381px;
	transition: transform .5s ease-in-out;
}

.image-container img:hover {
	transform: scale(1.2);
}

.main p {
	margin-bottom: 34px;
}

/* FOOTER */

.content {
	display: flex;
	gap: 50px;
}

.footer {
	display: flex;
	justify-content: space-between;
	background-color: rgba(99, 105, 110, 0.48);
}

.bottom-nav ul {
	display: flex;
	justify-content: center;
	list-style-type: none;	
}

.bottom-nav-link {
	display: block;
	padding: 20px 40px;
	color: hsla(211, 53%, 10%, 1);
	text-decoration: none;
	text-underline-offset: 13px;
}

.bottom-nav-link:hover {
	color: hsla(199, 54%, 42%, 1);
	text-decoration: underline;
}

.copyright {
	float: right;
	display: block;
	padding: 20px 40px;
	color: #010101;
}